.buttomAction{
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: center,
}

.modalPaper{
	width: 70vw;
	/* height: 60vh; */
	margin: 5rem auto ;
	padding: 1rem;
}

.formWrapper{
	position: relative;
}

.adduserform{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	width: 80%;
	margin: auto;
	border: 1px solid gray;
	padding: 1rem;
}

.inputWrapper{
	margin: 1rem;
}

.formSubmit{
	display: flex;
	justify-content: flex-end;
	margin: 5rem 5rem;
}
